.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border: 1px solid rgb(221, 210, 210);
  border-radius: 8px;
  padding: 0.9rem 1.2rem;
  margin-bottom: 0.7rem;

}

.description {
  font-weight: 600;
  margin: 0;
  color: black;
}

.category {
  font-size: 0.85rem;
  color: black;
  margin: 0.2rem 0 0;
}

.amount {
  font-weight: 700;
  margin: 0;
}

.date {
  font-size: 0.8rem;
  color: #94a3b8;
  margin: 0.2rem 0 0;
  text-align: right;
}

.income .amount {
  color: #16a34a;
}

.expense .amount {
  color: #dc2626;
}
.deleteBtn {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 1.2rem;
}

.deleteBtn:hover {
  color: #dc2626;
}